In [6]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.impute import SimpleImputer
from sklearn import tree

In [2]:
train_data = pd.read_csv('./train_data.csv') 
y = train_data.PRICE
train_data.describe()

,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN_DIST,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH_DIST,NEAREST_SCH_RANK
count,2.365600e+04,23656.000000,23656.000000,21958.000000,23656.000000,23656.000000,21495.000000,23656.000000,23656.000000,23656.000000,23656.000000,23656.000000,23656.000000,16050.000000
mean,6.368903e+05,3.658142,1.823301,2.196785,2641.845367,183.488333,1989.704582,19727.496069,4515.986811,6088.947497,-31.960326,115.878999,1.812894,72.808411
std,3.559987e+05,0.751589,0.583628,1.360486,16319.059933,71.963579,20.919355,11355.709306,4464.853127,61.388239,0.177393,0.118019,1.731669,40.679776
min,5.100000e+04,1.000000,1.000000,1.000000,61.000000,1.000000,1868.000000,681.000000,46.000000,6003.000000,-32.467416,115.583610,0.070912,1.000000
25%,4.100000e+05,3.000000,1.000000,2.000000,502.000000,130.000000,1978.000000,11100.000000,1800.000000,6038.000000,-32.067406,115.789505,0.885820,39.000000
50%,5.350000e+05,4.000000,2.000000,2.000000,682.000000,172.000000,1995.000000,17400.000000,3200.000000,6069.000000,-31.932749,115.853882,1.348658,69.500000
75%,7.600000e+05,4.000000,2.000000,2.000000,836.000000,222.000000,2005.000000,26500.000000,5300.000000,6149.000000,-31.844680,115.970145,2.094873,105.000000
max,2.440000e+06,10.000000,7.000000,99.000000,999999.000000,870.000000,2017.000000,59400.000000,34900.000000,6558.000000,-31.462553,116.317640,23.254372,139.000000

In [3]:
train_data["DATE_SOLD"]

0        09-2018\r
1        02-2019\r
2        06-2015\r
3        07-2018\r
4        11-2016\r
           ...
23651    02-2016\r
23652    02-2015\r
23653    05-2018\r
23654    03-2018\r
23655    07-2005\r
Name: DATE_SOLD, Length: 23656, dtype: object

In [19]:
features = ["BEDROOMS","BATHROOMS","GARAGE","LAND_AREA","FLOOR_AREA","BUILD_YEAR","CBD_DIST","NEAREST_STN_DIST","LATITUDE","LONGITUDE","NEAREST_SCH_DIST","NEAREST_SCH_RANK"]

X = train_data[features]

train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=1)

train_X.GARAGE.fillna(0, inplace=True)
val_X.GARAGE.fillna(0, inplace=True)



train_X["Rank_was_missing"] = train_X["NEAREST_SCH_RANK"].isnull()
val_X["Rank_was_missing"] = val_X["NEAREST_SCH_RANK"].isnull()

train_X.NEAREST_SCH_RANK.fillna(0, inplace=True)
val_X.NEAREST_SCH_RANK.fillna(0, inplace=True)

my_imputer = SimpleImputer(strategy="most_frequent")

imputed_train_X = pd.DataFrame(my_imputer.fit_transform(train_X))
imputed_val_X = pd.DataFrame(my_imputer.transform(val_X))

imputed_train_X.columns = train_X.columns
imputed_val_X.columns = val_X.columns

imputed_train_X.describe()

,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN_DIST,LATITUDE,LONGITUDE,NEAREST_SCH_DIST,NEAREST_SCH_RANK,Rank_was_missing
count,17742.000000,17742.000000,17742.000000,17742.000000,17742.000000,17742.000000,17742.000000,17742.000000,17742.000000,17742.000000,17742.000000,17742.000000,17742.000000
mean,3.653083,1.822342,2.037763,2618.025251,183.430053,1990.684703,19736.608274,4550.141923,-31.960080,115.879306,1.823634,49.659227,0.319750
std,0.753315,0.583872,1.472762,15562.153047,72.074137,20.102180,11316.350902,4497.266003,0.177138,0.118261,1.747527,47.714451,0.466393
min,1.000000,1.000000,0.000000,61.000000,1.000000,1868.000000,693.000000,46.000000,-32.467416,115.583610,0.070912,0.000000,0.000000
25%,3.000000,1.000000,2.000000,503.000000,130.000000,1980.000000,11200.000000,1800.000000,-32.067602,115.789625,0.892037,0.000000,0.000000
50%,4.000000,2.000000,2.000000,683.000000,172.500000,1998.000000,17400.000000,3300.000000,-31.932883,115.854255,1.350224,40.000000,0.000000
75%,4.000000,2.000000,2.000000,836.000000,222.000000,2004.000000,26500.000000,5300.000000,-31.844943,115.970570,2.101619,92.000000,1.000000
max,10.000000,7.000000,99.000000,999999.000000,870.000000,2017.000000,59400.000000,34900.000000,-31.462553,116.317640,23.254372,139.000000,1.000000

In [31]:
results = []
leaf_counts = [300,350,400,450,500,550,600,650,700]
for leafs in leaf_counts:
    model = tree.DecisionTreeRegressor(criterion="absolute_error",random_state=0,max_depth=10,max_leaf_nodes=leafs)
    model.fit(imputed_train_X,train_y)
    val_prediction = model.predict(imputed_val_X)

    MAE_Score = mean_absolute_error(val_y,val_prediction)
    results.append([leafs,MAE_Score])

#print("Validation F1 Score for Random Forest Model: {}".format(MAE_Score))
print(results)

[[300, 118011.33496787284], [350, 117601.84731146433], [400, 117461.54041258032], [450, 117624.21203922895], [500, 117409.19851200542], [550, 117663.45958741968], [600, 117670.35847142374], [650, 117753.56459249239], [700, 117844.88112952317]]

In [27]:
for i in range(30):
    print(i+1,results[i])

print(min(results))

1 214014.10297598917
2 188114.5639161312
3 168093.08572877917
4 156482.05089617855
5 145484.43473114644
6 133414.68921203923
7 127382.73537368955
8 123014.22184646601
9 120354.45840378762
10 116787.21559012512
11 118301.18709841055
12 118482.03703077443
13 119626.17382482246
14 123484.33065607033
15 123968.00811633412
16 126636.2530436253
17 129241.55343253298
18 131810.93329387894
19 131510.19665201218
20 131785.75650997632
21 132683.10492052755
22 134071.4549374366
23 134256.30825160636
24 136306.8900067636
25 135204.12250591817
26 135167.82473791004
27 135110.45857287792
28 137041.34697328374
29 136416.8530605343
30 136404.16723030098
116787.21559012512

In [34]:
X=train_data[features]

X.GARAGE.fillna(0, inplace=True)

X["Rank_was_missing"] = X["NEAREST_SCH_RANK"].isnull()

X.NEAREST_SCH_RANK.fillna(0, inplace=True)

my_imputer_full = SimpleImputer(strategy="most_frequent")

imputed_X = pd.DataFrame(my_imputer.fit_transform(X))

imputed_X.columns = X.columns

imputed_X.describe()

C:\Users\User\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\series.py:4433: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(
<ipython-input-34-efaa733886be>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X["Rank_was_missing"] = X["NEAREST_SCH_RANK"].isnull()

,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN_DIST,LATITUDE,LONGITUDE,NEAREST_SCH_DIST,NEAREST_SCH_RANK,Rank_was_missing
count,23656.000000,23656.000000,23656.000000,23656.000000,23656.000000,23656.000000,23656.000000,23656.000000,23656.000000,23656.000000,23656.000000,23656.000000,23656.000000
mean,3.658142,1.823301,2.039102,2641.845367,183.488333,1990.645079,19727.496069,4515.986811,-31.960326,115.878999,1.812894,49.398673,0.321525
std,0.751589,0.583628,1.428147,16319.059933,71.963579,20.160342,11355.709306,4464.853127,0.177393,0.118019,1.731669,47.741036,0.467072
min,1.000000,1.000000,0.000000,61.000000,1.000000,1868.000000,681.000000,46.000000,-32.467416,115.583610,0.070912,0.000000,0.000000
25%,3.000000,1.000000,2.000000,502.000000,130.000000,1980.000000,11100.000000,1800.000000,-32.067406,115.789505,0.885820,0.000000,0.000000
50%,4.000000,2.000000,2.000000,682.000000,172.000000,1998.000000,17400.000000,3200.000000,-31.932749,115.853882,1.348658,39.000000,0.000000
75%,4.000000,2.000000,2.000000,836.000000,222.000000,2004.000000,26500.000000,5300.000000,-31.844680,115.970145,2.094873,92.000000,1.000000
max,10.000000,7.000000,99.000000,999999.000000,870.000000,2017.000000,59400.000000,34900.000000,-31.462553,116.317640,23.254372,139.000000,1.000000

In [35]:
model = tree.DecisionTreeRegressor(criterion="absolute_error",random_state=0,max_depth=10,max_leaf_nodes=500)
model.fit(imputed_X,y)

DecisionTreeRegressor(criterion='absolute_error', max_depth=10,
                      max_leaf_nodes=500, random_state=0)

In [37]:
test_data = pd.read_csv('./test_data.csv') 

# OBROBKA WASZYCH DANYCH
test_y = test_data.PRICE
test_X = test_data[features]

test_X.GARAGE.fillna(0, inplace=True)

test_X["Rank_was_missing"] = test_X["NEAREST_SCH_RANK"].isnull()

test_X.NEAREST_SCH_RANK.fillna(0, inplace=True)


imputed_test_X = pd.DataFrame(my_imputer.transform(test_X))

imputed_test_X.columns = test_X.columns
# KONIEC OBROBKI
imputed_test_X.describe()

C:\Users\User\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\series.py:4433: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(
<ipython-input-37-59e22a3122d5>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_X["Rank_was_missing"] = test_X["NEAREST_SCH_RANK"].isnull()

,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN_DIST,LATITUDE,LONGITUDE,NEAREST_SCH_DIST,NEAREST_SCH_RANK,Rank_was_missing
count,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,3.661400,1.822500,2.03520,2974.362100,183.532800,1990.733600,19895.366800,4540.840700,-31.961462,115.879893,1.820882,48.138300,0.334600
std,0.753131,0.596347,1.44823,17546.167012,72.435286,20.233224,11384.682528,4565.913004,0.178696,0.118418,1.779517,47.530429,0.471874
min,1.000000,1.000000,0.00000,72.000000,18.000000,1880.000000,747.000000,46.000000,-32.472979,115.582730,0.097609,0.000000,0.000000
25%,3.000000,1.000000,2.00000,506.000000,130.000000,1981.000000,11300.000000,1800.000000,-32.072158,115.790347,0.867650,0.000000,0.000000
50%,4.000000,2.000000,2.00000,682.000000,172.000000,1998.000000,17700.000000,3200.000000,-31.934325,115.854939,1.335849,39.000000,0.000000
75%,4.000000,2.000000,2.00000,845.000000,223.000000,2004.000000,26800.000000,5400.000000,-31.841951,115.971992,2.103752,92.000000,1.000000
max,8.000000,16.000000,50.00000,999999.000000,840.000000,2017.000000,59800.000000,35500.000000,-31.457450,116.343201,17.908836,139.000000,1.000000

In [38]:
#PREDYKCJA MODELU
prediction = model.predict(imputed_test_X)

MAE_Score = mean_absolute_error(test_y,prediction)

print("Validation F1 Score for Random Forest Model: {}".format(MAE_Score))

Validation F1 Score for Random Forest Model: 118424.03755